/* FONT */


@font-face {
    font-family: 'gora';
    src: url('FONT/gora-free-webfont.woff2') format('woff2'),
         url('FONT/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open';
    src: url('FONT/opensans-bold-webfont.woff2') format('woff2'),
        url('FONT/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'open';
    src: url('FONT/opensans-extrabold-webfont.woff2') format('woff2'),
        url('FONT/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'open';
    src: url('FONT/opensans-light-webfont.woff2') format('woff2'),
        url('FONT/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'open';
    src: url('FONT/opensans-lightitalic-webfont.woff2') format('woff2'),
        url('FONT/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'open';
    src: url('FONT/opensans-regular-webfont.woff2') format('woff2'),
        url('FONT/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('FONT/roboto-bold-webfont.woff2') format('woff2'),
        url('FONT/roboto-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('FONT/roboto-light-webfont.woff2') format('woff2'),
        url('FONT/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

/* layOut */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}


/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
  height: auto;
}


/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a {
    text-decoration: none;
    color: white;
}
